<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="javascripts/main.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav class="navbar fixed-top">
        <a class="navbar-brand" href="#">
          <img src="https://fastapps.rit.edu/facilities/assets/rit_white.png" alt="RIT">
        </a>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-5" id="">
        

          <div class="accordion" id="buildingsAccordion">
            <div class="card">
              <div class="card-header" id="building1">
                  <h2 class="mb-0">
                    <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse1">
                      NRH
                    </button>
                  </h2>
                </div>
                <div id="collapse1" class="collapse" aria-labelledby="#building1" data-parent="#buildingsAccordion">
                  <div class="card-body">
                    <p>Elevators</p>
                    <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
                    <a href="#" class="btn btn-outline-success" role="button">Elevator 2</a>
                  </div>
                </div>
            </div>

            <div class="card">
              <div class="card-header" id="building2">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse2">
                    Sol's
                  </button>
                </h2>
              </div>
              <div id="collapse2" class="collapse" aria-labelledby="#building2" data-parent="#buildingsAccordion">
                <div class="card-body">
                  <p>Elevators</p>
                  <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
                  <a href="#" class="btn btn-outline-success" role="button">Elevator 2</a>
                </div>
              </div>
          </div>

          <div class="card">
            <div class="card-header" id="building3">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse3">
                  Gleason
                </button>
              </h2>
            </div>
            <div id="collapse3" class="collapse" aria-labelledby="#building3" data-parent="#buildingsAccordion">
              <div class="card-body">
                <p>Elevators</p>
                <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
                <a href="#" class="btn btn-outline-success" role="button">Elevator 2</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="building4">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse4">
                Res Hall A
              </button>
            </h2>
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="#building4" data-parent="#buildingsAccordion">
            <div class="card-body">
              <p>Elevators</p>
              <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
            </div>
          </div>
      </div>
      <div class="card">
        <div class="card-header" id="building5">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse5">
                Gibson
              </button>
            </h2>
          </div>
          <div id="collapse5" class="collapse" aria-labelledby="#building5" data-parent="#buildingsAccordion">
            <div class="card-body">
              <p>Elevators</p>
              <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
            </div>
          </div>
      </div>
          
        </div>

        <div class="col-sm-5">

          <div class="accordion" id="buildingsAccordion">
            

            <div class="card">
              <div class="card-header" id="building6">
                <h2 class="mb-0">
                  <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse6">
                    Ellington
                  </button>
                </h2>
              </div>
              <div id="collapse6" class="collapse" aria-labelledby="#building6" data-parent="#buildingsAccordion">
                <div class="card-body">
                  <p>Elevators</p>
                  <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
                  <a href="#" class="btn btn-outline-success" role="button">Elevator 2</a>
                </div>
              </div>
          </div>

          <div class="card">
            <div class="card-header" id="building7">
              <h2 class="mb-0">
                <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse7">
                  Peterson
                </button>
              </h2>
            </div>
            <div id="collapse7" class="collapse" aria-labelledby="#building7" data-parent="#buildingsAccordion">
              <div class="card-body">
                <p>Elevators</p>
                <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header" id="building8">
            <h2 class="mb-0">
              <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse8">
                Res Hall B
              </button>
            </h2>
          </div>
          <div id="collapse8" class="collapse" aria-labelledby="#building8" data-parent="#buildingsAccordion">
            <div class="card-body">
              <p>Elevators</p>
              <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
            </div>
          </div>
      </div>

      <div class="card">
        <div class="card-header" id="building9">
          <h2 class="mb-0">
            <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse9">
              Res Hall C
            </button>
          </h2>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="#building9" data-parent="#buildingsAccordion">
          <div class="card-body">
            <p>Elevators</p>
            <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
          </div>
        </div>
    </div>

    <div class="card">
      <div class="card-header" id="building10">
        <h2 class="mb-0">
          <button type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapse10">
            Res Hall D
          </button>
        </h2>
      </div>
      <div id="collapse10" class="collapse" aria-labelledby="#building10" data-parent="#buildingsAccordion">
        <div class="card-body">
          <p>Elevators</p>
          <a href="#" class="btn btn-outline-success" role="button">Elevator 1</a>
        </div>
      </div>
    </div>
          
        </div>
        <div class="col-sm-1"></div>
      </div>
    </div>
  </body>
</html>
