body {
  padding: 50px;
  font-family: "Neue Haas Grotesk";
  font-size: 100%;
}

.navbar {
  background-color: #F76902;
}

.navbar a {
  color: #FFFFFF;
}

.navbar img {
  width: 85px;
}

#buildingsAccordion {
  padding-top: 40px;
}

.card-header button {
  color: #000000;
  font-size: 1.05em;
}

.card-header:hover {
  background-color: #D0D3D4;
}

/*
.header {
  width: 100%;
  background-color: #F76902;
}

.header a {
  float: left;
  text-align: center;
  padding: 12px;
  color: #FFFFFF;
  font-size: 17px;
}



@media screen and (max-width: 500px) {
  .header {
    display: none;
  }
}
*/